<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>you'll be my valentine</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <div class="text" >
            <h1 class = "header_text">Ты там еще не забыла про меня?</h1>
        </div>
        <div class="gif_container">
            <img src="/static/images/peachcat-cat.gif">
        </div>
        <div class = "buttons">
            <button class="btn" id = "yesButton" onclick="nextPage()">Нет</button>
            <button class="btn" id="noButton" onmouseover="moveButton()">Забыла</button>
            <script>
                function nextPage() {
                    window.location.href = "/yes";
                }

                function moveButton() {
                    let x = Math.random() * (window.innerWidth - document.getElementById('noButton').offsetWidth);
                    let y = Math.random() * (window.innerHeight - document.getElementById('noButton').offsetHeight);
                    document.getElementById('noButton').style.left = `${x}px`;
                    document.getElementById('noButton').style.top = `${y}px`;
                }
            </script>
        </div>
    </div>

</body>
</html>